# ----------------------------------------------------

# 1. API CONFIGURATION
# ----------------------------------------------------
NEXT_PUBLIC_API_URL=http://localhost:3021

# NEXT_PUBLIC_API_URL=https://33zzc5w6-3021.inc1.devtunnels.ms
# ----------------------------------------------------
# 2. AUTH0 SERVER CONFIGURATION (Regular Web App)
# ----------------------------------------------------
AUTH0_AUDIENCE=https://api.teslead.com
AUTH0_ISSUER_BASE_URL=https://teslead.us.auth0.com
AUTH0_BASE_URL=http://localhost:3022

# Credentials
AUTH0_CLIENT_ID=cRKS79Mg8eXX6GpSvERtliYNLy7Ijvs9
AUTH0_CLIENT_SECRET=TxeP7sWvQXnAIq6jV2CWjObIoQR2Y5u8Y1fuWHUCdMe47XNUpk4cpcfXqSsNVX43
AUTH0_SECRET=873nc3n8x8838zuqn8y38x8b38b16zjakjfagu9w93cn 

# Scopes
AUTH0_SCOPE='openid profile email offline_access'

# ----------------------------------------------------
# 3. PUBLIC CONFIGURATION
# ----------------------------------------------------
NEXT_PUBLIC_AUTH0_DOMAIN=teslead.us.auth0.com
NEXT_PUBLIC_AUTH0_CLIENT_ID=cRKS79Mg8eXX6GpSvERtliYNLy7Ijvs9
NEXT_PUBLIC_AUTH0_AUDIENCE=https://api.teslead.com
